body {
  margin: 2em;
  font-size: 16px;
  font-family: monospace;
  text-align: center;
}

section { margin: 0 auto 2em }

#graph {
  height: 300px;
  width: 800px;
  margin: 0 auto;
}

table {
  margin: 0 auto 2em;
  background-color: white;
  border: 1px solid black;
  border-collapse: collapse;
}

h2 { font-size: 1rem }

td { text-align: left }
th, td {
  min-width: 1.5em;
  padding: 0.5em;
  border: 1px solid;
}

td.gap {
  border: none;
  background-color: #00000010;
}
