body {
  margin: 2em;
  font-size: 16px;
  font-family: monospace;
}

table {
  margin: 0 auto;
  background-color: white;
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  min-width: 1.5em;
  padding: 0.5em;
  border: 1px solid;
}

td > em { opacity: 0.4 }

td.gap {
  border: none;
  background-color: #00000010;
}
